-i https://pypi.org/simple
asgiref==3.7.2; python_version >= '3.7'
django==4.2.18; python_version >= '3.8'
django-cors-headers==4.3.1; python_version >= '3.8'
djangorestframework==3.15.2; python_version >= '3.6'
pytz==2023.3.post1
sqlparse==0.5.0; python_version >= '3.5'
